%header
  .header-main
    .header-top
      = link_to "/" ,class:"header-top__logo" do
        = image_tag '/img/fmarket_logo_red.svg',class: "ca_logo",width: "130px"
      .header-top__search
        %input{name: "search",placeholder: "何かお探しですか？", type: "search", value: ""}/
        %button{type:"submit",class:"search-icon"}
          %i.fas.fa-search
    .header-bottom
      .header-bottom-left
        .header-bottom-left__category
          %i.fas.fa-list-ul
          カテゴリーから探す
        .header-bottom-left__brand
          %i.fas.fa-tag
          ブランドから探す
        
      .header-bottom-right
        - if user_signed_in? #ログイン中表示
          %ul
            %li
              %i.far.fa-heart
              いいね！一覧
            %li
              %i.far.fa-bell
              お知らせリスト
            %li
              %i.fas.fa-check
              やることリスト
            %li
              %i.far.fa-heart
              = link_to mypage_index_path, class: 'btn-red' do
                マイページ
        - else # ログアウト中表示
          %ul
            %li
              = link_to  signup_index_path, class: 'header-registration-btn' do
                新規会員登録
            %li
              = link_to new_user_session_path, class: 'header-login-btn' do
                ログイン

= render 'layouts/exhibit-button'
%main
  .center-item
    = image_tag '/img/top_campaign.jpg',class: ''
    = image_tag '/img/sns_01_Fotor.jpg',class: ''
    = image_tag '/img/mercari_header.png', class: ''
  .contents
    .items
      .items__header
        %h1 人気のカテゴリー
        .items__header__tag
          %ul
            %li レディース
            %li メンズ
            %li 家電・スマホ・カメラ
            %li おもちゃ・ホビー・グッズ
      .items__main
        .items__main__title
          %h2 新着アイテム
          %p
            もっとみる
            %span.fas.fa-angle-right
        .items__main__wrapper
          = render 'home-index'

= render 'shared/footer'
